<!-- Intro Three -->
@inherits LayoutComponentBase

    <NavMenu />

@Body
<!-- footer Block -->
<div class="copy-footer bg-primary py-2">
    <div class="container text-center text-light">
        &copy; <a href="http://grafreez.com" target="_blank">Grafreez.com</a> <span id="year"></span>. All rights reserved. Created with <i class="fa fa-heart"></i>
    </div>
</div>