 <!-- Service part start-->
    <section class="priceing_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="img/section_tittle_icon.png" alt="icon">
                        <h2>Pricing Plan</h2>
                        <p>
                            Good morning forth gathering doesn't god gathering man and had moveth there dry sixth
                            dominion rule divided behold after had he did not move .
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_1.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Cut</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_2.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Color</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_3.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Straight</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_4.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Shampoo</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_5.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Wash</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_6.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Shave</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_7.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Men’s Facial</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_8.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Wedding Style</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service part end-->