<!-- Service part start-->
    <section class="service_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="img/section_tittle_icon.png" alt="icon">
                        <h2>Service Expectation</h2>
                        <p>
                            We offer wide range a varitey of services and providers that you can realte with,and still get that professional touch and mastery .
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="img/service/single_service_1.png" alt="">
                        <div class="single_service_text">
                            <h4>Stylish Hair Cut</h4>
                            <p>
                                Thinking about changing up your look and trying a new haircut style? Look no further. We got you covered. This is the most up-to-date and complete guide to all
                            </p>
                            <a href="#" class="btn_3">Click for </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="img/service/single_service_2.png" alt="">
                        <div class="single_service_text">
                            <h4>Wedding Hair</h4>
                            <p>
                                The groom is as much in the spotlight as the bride. Thus, you should make sure your hair looks flawless on this special day. 
                            </p>
                            <a href="#" class="btn_3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="img/service/single_service_3.png" alt="">
                        <div class="single_service_text">
                            <h4>Color & Hair Wash</h4>
                            <p>
                                Here’s what you need to know about how to straighten hair for men. This guide isn’t only for wavy, curly, and Black hair texture though
                            </p>
                            <a href="#" class="btn_3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Service part end-->





     

    <!-- about part end-->
    <!-- Service part start-->
    <section class="service_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="img/section_tittle_icon.png" alt="icon">
                        <h2>Service Expectation</h2>
                        <p>
                            We offer wide range a varitey of services and providers that you can realte with,and still get that professional touch and mastery .
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="img/service/single_service_1.png" alt="">
                        <div class="single_service_text">
                            <h4>Stylish Hair Cut</h4>
                            <p>
                                Thinking about changing up your look and trying a new haircut style? Look no further. We got you covered. This is the most up-to-date and complete guide to all
                            </p>
                            <a href="#" class="btn_3">Click for </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="img/service/single_service_2.png" alt="">
                        <div class="single_service_text">
                            <h4>Wedding Hair</h4>
                            <p>
                                The groom is as much in the spotlight as the bride. Thus, you should make sure your hair looks flawless on this special day. 
                            </p>
                            <a href="#" class="btn_3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="img/service/single_service_3.png" alt="">
                        <div class="single_service_text">
                            <h4>Color & Hair Wash</h4>
                            <p>
                                Here’s what you need to know about how to straighten hair for men. This guide isn’t only for wavy, curly, and Black hair texture though
                            </p>
                            <a href="#" class="btn_3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Service part end-->



    
   
    <!-- our_offer part start-->
    <section class="our_offer">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="img/offer_img_1.png" alt="offer_img_1">
                            <div class="hover_text">
                                <img src="img/icon/cutter.svg" alt="#">
                                <h2>Best Equipment</h2>
                                <p>Winged day grass creepeth us second signs</p>
                                <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="img/offer_img_2.png" alt="offer_img_1">
                            <div class="hover_text">
                                <img src="img/icon/cutter.svg" alt="#">
                                <h2>Best Price</h2>
                                <p>Winged day grass creepeth us second signs </p>
                                <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="img/offer_img_3.png" alt="offer_img_1">
                            <div class="hover_text">
                                <img src="img/icon/cutter.svg" alt="#">
                                <h2>Fitness Equipment</h2>
                                <p>Winged day grass creepeth us second signs</p>
                                <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="img/offer_img_4.png" alt="offer_img_1">
                            <div class="hover_text">
                                <img src="img/icon/cutter.svg" alt="#">
                                <h2>Fitness Training</h2>
                                <p>Winged day grass creepeth us second signs</p>
                                <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- our_offer part end-->
   
    <!--::review_part start::-->
    <section class="review_part gray_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="client_review_part owl-carousel">
                        <div class="client_review_single">
                            <img src="img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>
                                    Also made from. Give may saying meat there from heaven it lights face had is gathered
                                    god dea earth light for life may itself shall whales made they're blessed whales
                                    also made from give
                                    may saying meat. There from heaven it lights face had amazing place
                                </p>
                            </div>
                            <div class="client_img">
                                <img src="img/client/client_1.png" alt="">
                            </div>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text media-body">
                                <p>
                                    Also made from. Give may saying meat there from heaven it lights face had is gathered
                                    god dea earth light for life may itself shall whales made they're blessed whales
                                    also made from give
                                    may saying meat. There from heaven it lights face had amazing place
                                </p>
                            </div>
                            <div class="client_img">
                                <img src="img/client/client_1.png" alt="">
                            </div>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>
                                    Also made from. Give may saying meat there from heaven it lights face had is gathered
                                    god dea earth light for life may itself shall whales made they're blessed whales
                                    also made from give
                                    may saying meat. There from heaven it lights face had amazing place
                                </p>
                            </div>
                            <div class="client_img">
                                <img src="img/client/client_1.png" alt="">
                            </div>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>
                                    Also made from. Give may saying meat there from heaven it lights face had is gathered
                                    god dea earth light for life may itself shall whales made they're blessed whales
                                    also made from give
                                    may saying meat. There from heaven it lights face had amazing place
                                </p>
                            </div>
                            <div class="client_img">
                                <img src="img/client/client_1.png" alt="">
                            </div>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::review_part end::-->
    <!--::chefs_part start::-->


    @*<section class="artist_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="img/section_tittle_icon.png" alt="icon">
                        <h2>Meet Our Artist</h2>
                        <p>
                            Good morning forth gathering doesn't god gathering man and had moveth there dry sixth
                            dominion rule divided behold after had he did not move .
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="img/artist/artist_1.png" alt="artist">
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text text-center">
                                <h3>Adam Billiard</h3>
                                <p>Chef Master</p>
                                <div class="social_icon">
                                    <a href="#"> <i class="ti-facebook"></i> </a>
                                    <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                    <a href="#"> <i class="ti-instagram"></i> </a>
                                    <a href="#"> <i class="ti-skype"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="img/artist/artist_2.png" alt="artist">
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text text-center">
                                <h3>Fred Macyard</h3>
                                <p>Chef Master</p>
                                <div class="social_icon">
                                    <a href="#"> <i class="ti-facebook"></i> </a>
                                    <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                    <a href="#"> <i class="ti-instagram"></i> </a>
                                    <a href="#"> <i class="ti-skype"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="img/artist/artist_3.png" alt="artist">
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text text-center">
                                <h3>Justin Stuard</h3>
                                <p>Chef Master</p>
                                <div class="social_icon">
                                    <a href="#"> <i class="ti-facebook"></i> </a>
                                    <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                    <a href="#"> <i class="ti-instagram"></i> </a>
                                    <a href="#"> <i class="ti-skype"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

