@model Salon.WebUI.Models.BarberModel

@{
    ViewData["Title"] = "CreateBarber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateBarber</h1>

<h4>Barber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBarber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BarberId" class="control-label"></label>
                <input asp-for="BarberId" class="form-control" />
                <span asp-validation-for="BarberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarberName" class="control-label"></label>
                <input asp-for="BarberName" class="form-control" />
                <span asp-validation-for="BarberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonId" class="control-label"></label>
                <input asp-for="SalonId" class="form-control" />
                <span asp-validation-for="SalonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="YearExperience" class="form-control" />
                <span asp-validation-for="YearExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearExperience" class="control-label"></label>
                <input asp-for="PicUrl" class="form-control" />
                <span asp-validation-for="PicUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicUrl" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ><i class="icofont icofont-save"/> Submit </button>
</div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
      
        <div class="card">
            <div class="card-header">
                <h5>Salon Barber Entry </h5>
                <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
            </div>
            <div class="card-block">
                <h4 class="sub-title">Create an Appointment</h4>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Simple Input</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SalonId" class="col-sm-2 col-form-label">Salon Name</label>
                        <div class="col-sm-10">
                            <input type="password" asp-for="SalonId" class="form-control" placeholder="Type in the Salon Name">
                            <span asp-validation-for="Salord" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="BarberName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="BarberName" class="form-control" placeholder="ServiceType">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="BarberId" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="BarberId" class="form-control" placeholder="Type in Barber Name">
                            <span asp-validation-for="BarberId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="SalonId" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="DOB" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="DOB" class="form-control" placeholder="Date of Birth">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Age" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Age" class="form-control" placeholder="Age">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="YearExperience" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="YearExperience" class="form-control" placeholder="Year(s) of Experience">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="BarberId" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">

                            <input type="file" id="PicUrl" asp-for="BarberId" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="BarberId" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Comments" class="form-control" placeholder="Comments">
                        </div>
                    </div>

                    @*<div class="form-group row">
            <label class="col-sm-2 col-form-label">Select Box</label>
            <div class="col-sm-10">
                <select name="select" class="form-control">
                    <option value="opt1">Select One Value Only</option>
                    <option value="opt2">Type 2</option>
                    <option value="opt3">Type 3</option>
                    <option value="opt4">Type 4</option>
                    <option value="opt5">Type 5</option>
                    <option value="opt6">Type 6</option>
                    <option value="opt7">Type 7</option>
                    <option value="opt8">Type 8</option>
                </select>
            </div>
        </div>*@
                    <button type="submit" class="btn btn-primary"><i class="icofont icofont-save" /> Submit </button>

                </form>

            </div>
        </div>
        <!-- Basic Form Inputs card end -->
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
